  <%= form_tag '/login' do %>
    <%if @errors %>
    <ul>
     <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>

    <p>
      <%= label_tag :username %><br />
      <%= text_field_tag :username, params[:username] %>
    </p>

    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p class="button"><%= submit_tag "Log in" %></p>
  <% end %>